$background: #e6e1d0;

$h-text-main: #2c2c2c;
$h-text-secondary: #8b7355;
$h-text-desc: #666;
$h-btn-start: #8b7355;
$h-btn-end: #6b5745;

$footer-bg: #373d23;
$f-title: #d8a48f;
$f-btn-start: #8b7355;
$f-btn-end: #705844;

$link-hover: #d8a48f;
