.wrapper {
  width: 100vw;
  height: 100vh;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
}

.wrapper {
  background: url(../../assets/test2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(25, 33, 24, 0.7); /* Exactly 10% darker */
    z-index: 1;
    pointer-events: none; /* Doesn't block clicks */
  }

  /* Page content above */
  > * {
    position: relative;
    z-index: 2;
  }

  .container {
  }
}
