/* =======================
   Minimal CSS Reset
   ======================= */

/* Box sizing and spacing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

/* Full height & width for html/body */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  overscroll-behavior: none;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input {
  cursor: pointer;
}
